body {
	background: url('images/city_bg.png') 0 0 no-repeat;
	width: 1024px;
	height: 728px;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
}
#background {
	z-index: -2;
}
#main {
	z-index: -1;
}
#ship {
	z-index: 0;
}
.game-over {
	position: absolute;
	top: 100px;
	left: 210px;
	color: #FF7F00;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	cursor: default;
	display: none;
}
.game-over span {
	font-size: 20px;
	cursor: pointer;
	position: relative;
	left: 50px;
}
.game-over span:hover {
	color: #FFD700;
}
.loading {
	position: absolute;
	top: 100px;
	left: 210px;
	color: #FF7F00;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	cursor: default;
}