body {
	width: 1024px;
	height: 728px;
	position: relative;
	margin: 0 auto;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
}
#timer {
	color: #fff;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 32px;
	margin-top: 10px;
	margin-right: 10px;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
}
#ground {
	background: gray;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	
}
#background {
	z-index: -2;
	background: url('images/city_bg.png') 0 0 no-repeat;
}
#main {
	z-index: -1;
}
#ship {
	z-index: 0;
}
.game-over {
	position: absolute;
	top: 200px;
	color: red;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	cursor: default;
	display: none;
	width: 100%;
	text-align: center;
	background: black;
}
#win.game-over {
	color: rgb(13, 185, 13);
}
.game-over span {
	font-size: 20px;
	cursor: pointer;
	position: relative;
	display: block;
	color: rgb(13, 185, 13);
}
#win.game-over span {
	color: red;
}
.game-over span:hover {
	color: #FFD700;
}
.loading {
	position: absolute;
	top: 100px;
	left: 210px;
	color: #FF7F00;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	cursor: default;
}

/*#mobile_character {
	background: url('images/character.png') 0 0 no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
}*/